version: "3.9"

services:
  app:
    container_name: node_app
    build:
      context: ./app
      dockerfile: Dockerfile
    volumes:
      - ./app:/usr/src/app
      - /usr/src/app/node_modules
    command: ["npm", "run", "dev"]
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    networks:
      - app_network

  nginx:
    container_name: nginx_proxy
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

